*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 1rem;
}

#picker {
    width: 50%;
    height: auto;
}

#color_div {
    width: 50%;
    height: 600px;
    border-radius: 1rem;
    align-self: center;
    
}

input {
    display: block;
    width: 90%;
    margin: .7rem auto;
    height: 2rem;
    border-radius: .2rem;
    text-align: center;
}

input[type=range] {
    margin: .2rem auto 1rem

}

label {
    display: block;
    margin: 0 .2rem;
}