#cv {
    min-height: 50vh;
    background: #333;
    color: #ddd;

    @media screen and (max-width: 700px){
        min-height: 30vh;
    }

    @media screen and (max-width: 1000px) and (min-width: 701px){
        min-height: 35vh;
    }

    .resumes {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        width: 80%;
        margin: 2rem auto;

        @media screen and (max-width: 700px){
            width: 95%;
        }

        @media screen and (max-width: 1000px) and (min-width: 701px){
            width: 95%;
        }

        .btn {
            display: flex;
            width: 40%;
            padding: 2rem;
            color: #ddd;
            background: #3aa;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-size: 2.3rem;
            text-decoration: none;
            border-radius: .3rem;
            transition: background 300ms;

            @media screen and (max-width: 700px){
                padding: 1rem;
                font-size: 1.2rem;
            }

            @media screen and (max-width: 1000px) and (min-width: 701px){
                width: 45%;    
            }

            &:hover {
                background: darken(#3aa, 10%);
            }
        }

    }
}