#about {
    min-height: 20vh;

    .socials {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
        width: 50%;
        margin: 2rem auto;
        align-content: center;
        justify-items: center;

        @media screen and (max-width: 700px){
            width: 100%;
            margin: 1rem auto;
        }

        @media screen and (max-width: 1000px) and (min-width: 701px){
            width: 90%;
        }

        a {
            color: #000;
        }

        svg {
            font-size: 5rem;
            cursor: pointer;
            // border-bottom: 2px solid #ddd;
            padding: 0 0 1rem 0;
            color: #3aa;
            transition: color 300ms;

            @media screen and (max-width: 700px){
                font-size: 4.5rem;
            }

            @media screen and (max-width: 1000px) and (min-width: 701px){
                font-size: 6rem;
            }

        }
        
        .lk:hover {
            color:  #0e76a8;
        }

        .fb:hover{
            color: #3b5998;
        }

        .ig:hover{
            color: #C13584;
        }

        .git:hover{
            color: #24292e
        }
    }
}